<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj5633.ch04.mapper.UserMapper">
    <resultMap id="userMap" type="com.wj5633.ch04.model.SysUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectById" resultMap="userMap">
        select *
        from sys_user
        where id = #{id}
    </select>

    <select id="selectAll" resultType="com.wj5633.ch04.model.SysUser">
        select id,
               user_name     as userName,
               user_password as userPassword,
               user_email    as userEmail,
               user_info     as userInfo,
               head_img      as headImg,
               create_time   as createTime
        from sys_user;
    </select>

    <select id="selectRolesByUserId" resultType="com.wj5633.ch04.model.SysRole">
        select r.id,
               r.role_name   as roleName,
               r.enabled,
               r.create_by   as createBy,
               r.create_time as createTime,
               u.user_name   as "user.userName",
               u.user_email  as "user.userEmail"
        from sys_user u
                 inner join sys_user_role ur on u.id = ur.user_id
                 inner join sys_role r on ur.role_id = r.id
        where u.id = #{userId}
    </select>

    <insert id="insert">
        insert into sys_user(id, user_name, user_password, user_email, user_info, head_img, create_time)
        values (#{id}, #{userName}, #{userPassword},
                #{userEmail}, #{userInfo},
                #{headImg}, #{createTime, jdbcType=TIMESTAMP})
    </insert>

    <insert id="insert2" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(user_name, user_password,
        <if test="userEmail != null and userEmail != ''">
            user_email,
        </if>
        user_info, head_img, create_time)
        values (#{userName}, #{userPassword},
        <if test="userEmail != null and userEmail != ''">
            #{userEmail},
        </if>
        #{userInfo}, #{headImg}, #{createTime, jdbcType=TIMESTAMP})
    </insert>

    <insert id="insert3">
        insert into sys_user( user_name, user_password, user_email, user_info, head_img, create_time)
        values ( #{userName}, #{userPassword},
        #{userEmail}, #{userInfo},
        #{headImg}, #{createTime, jdbcType=TIMESTAMP})
        <selectKey keyColumn="id" resultType="long" keyProperty="id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateById">
        update sys_user
        set user_name     = #{userName},
            user_password = #{userPassword},
            user_email=#{userEmail},
            user_info=#{userInfo},
            head_img=#{headImg},
            create_time=#{createTime}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from sys_user
        where id = #{id}
    </delete>

    <select id="selectRolesByUserIdAndRoleEnabled" resultType="com.wj5633.ch04.model.SysRole">
        select r.id,
               r.role_name   as roleName,
               r.enabled,
               r.create_by   as createBy,
               r.create_time as createTime,
               u.user_name   as "user.userName",
               u.user_email  as "user.userEmail"
        from sys_user u
                 inner join sys_user_role ur on u.id = ur.user_id
                 inner join sys_role r on ur.role_id = r.id
        where u.id = #{userId}
          and r.enabled = #{enabled}
    </select>

    <select id="selectByUser" resultType="com.wj5633.ch04.model.SysUser">
        select id,
        user_name as userName,
        user_password as userPassword,
        user_email as userEmail,
        user_info as userInfo,
        head_img as headImg,
        create_time as createTime
        from sys_user
        where 1 =1
        <if test="userName != null and userName != ''">

            <bind name="userNameLike" value="'%' + #{userName} + '%'"/>
            and user_name like #{userNameLike}
        </if>
        <if test="userEmail != null and userEmail != ''">
            and user_email = #{userEmail}
        </if>
    </select>

    <update id="updateByIdSelective">
        update sys_user
        set
        <if test="userName != null and userName != ''">
            user_name = #{userName},
        </if>
        <if test="userPassword != null and userPassword != ''">
            user_password = #{userPassword},
        </if>
        <if test="userEmail != null and userEmail != ''">
            user_email = #{userEmail},
        </if>
        <if test="userInfo != null and userInfo != ''">
            user_info = #{userInfo},
        </if>
        <if test="headImg != null and headImg != ''">
            head_img = #{headImg},
        </if>
        <if test="createTime != null and createTime != ''">
            create_time = #{createTime},
        </if>
        id = #{id}
        where id = #{id}
    </update>

    <insert id="insertList">
        insert into sys_user(user_name, user_password, user_email, user_info, head_img, create_time)
        values
        <foreach collection="list" item="user" separator=",">
            (
            #{user.userName}, #{user.userPassword},
            #{user.userEmail}, #{user.userInfo},
            #{user.headImg}, #{user.createTime, jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <update id="updateByMap">
        update sys_user
        set
        <foreach collection="_parameter" item="val" index="key" separator=",">
            ${key} = #{val}
        </foreach>
        where id = #{id}
    </update>
</mapper>